#container {
    background-color: #ffffff;
    box-shadow: 1px 3px 5px #a1a1a1;
}

/* bg-opacity
https://love2dev.com/blog/responsive-hero-background-opacity/
*/
#main {
    height: 100vh;
    border-radius: 10px;
    text-align: center;
    /* position: relative; */
}
#main::before {
    background-image: url('../imgs/bg_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.25;
}
#main_content {
    z-index: 1;
}
#in_main {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2em;
    font-size: 2em;
    height: 80%;
}
#header {
    width: 100%;
    padding-top: 50px;
}
#in_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.header_btn {
    width: 100px;
    height: 50px;
    margin: 10px 15px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
    outline: none;
    z-index: 1;
}
.header_btn:hover {
    background-color: #cbcbcb;
}
@media (max-width: 940px) {
    #header {
        display: block;
        position: relative;
        padding-top: 0;
    }
    #in_header {
        justify-content: center;
    }
}

/** 자기소개서 */
#page_two {
    min-height: 100vh;
    padding: 30px;
}
#title {
    font-size: 2.25em;
    padding: 15px 10px;
}
#title > h1 {
    padding-bottom: 3px;
    border-bottom: 2px solid #c4c4c4;
}
#introduce {
    padding: 15px 10px;
}
.introduce_subtitle {
    margin-bottom: 5px;
    font-size: 1.325em;
    word-break: break-all;
}
.introduce_text {
    line-height: 30px;
    margin-top: 30px;
    font-size: 1.125em;
}

























