/*  */
#main {
    height: 100vh;
    border-radius: 10px;
    text-align: center;
}
/* 
* main::befor에 도움을 준 사이트
https://love2dev.com/blog/responsive-hero-background-opacity/
*/
#main::before {
    background-image: url('../imgs/bg_repeat2.png');
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.25;
}
#main_content {
    z-index: 1;
}
#main_content > h1:last-child {
    color: #eb9623;
    font-size: 2em;
}
#in_main {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2em;
    font-size: 2em;
    height: 80%;
}
#header {
    width: 100%;
    padding-top: 50px;
}
#in_header {
    display: flex;
    justify-content: flex-end;
}
.header_btn {
    width: 100px;
    height: 50px;
    margin: 10px 15px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
    outline: none;
    z-index: 1;
    transition: 0.5s;
    background-color: #ffffff00;
}
.header_btn:hover {
    transform: scale(1.215);
}
#show_menu {
    display: flex;
    z-index: 1;
}
#view_menu {
    display: none;
}
@media (max-width: 940px) {
    #header {
        position: relative;
        padding-top: 10px;
    }
    #in_header {
        justify-content: center;
    }
    #go_main {
        display: none;
    }
    #go_activity {
        display: none;
    }
    #view_menu {
        display: block;
    }
    #show_menu {
        display: flex;
    }
    .header_btn {
        display: block;
        margin: 0;
    }
    #introduce {
        width: 100% !important;
    }
}

/** 자기소개서 */
#page_two {
    background-color: #ffffff;
    min-height: 100vh;
    padding: 30px;
}
#page_two::before {
    background-image: url('../imgs/.png');
    background-size: cover;
    background-repeat: no-repeat round;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.25;
}
#title {
    font-size: 2.25em;
    padding: 15px 10px;
}
#title > h1 {
    padding-bottom: 3px;
    border-bottom: 2px solid #c4c4c4;
}
#introduce {
    width: 70%;
    text-align: justify;
    padding: 15px 10px;
}
.introduce_subtitle {
    margin-bottom: 5px;
    font-size: 1.325em;
    word-break: break-all;
}
.introduce_text {
    line-height: 30px;
    margin-top: 30px;
    font-size: 1.125em;
}

























